---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pagina non trovata">
  <main
    class="bg-red-700 px-4 sm:px-12 md:px-20 flex flex-row justify-between items-center"
  >
    <section class="0 text-white h-[100%]">
      <h1 class="text-3xl font-bold">404 Pagina non trovata</h1>
      <button>
        <a href="/">Torna alla homepage</a>
      </button>
    </section>
  </main>
</Layout>
