---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Jumbo from "../components/Jumbo.astro";
---

<Layout title="Welcome to Astro.">
  <main class="px-4 sm:px-12 md:px-20">
    <Jumbo />
    <ul role="list" class="flex flex-row gap-x-4">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
    </ul>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
