---
import Layout from "../layouts/Layout.astro";
import Jumbo from "../components/Jumbo.astro";
import Services from "../components/Services.astro";
import Events from "../components/Events.astro";
---

<Layout title="Effe Elle Eventi">
  <main class="px-8 sm:px-12 md:px-20">
    <Jumbo />
    <Services />
    <Events />
  </main>
</Layout>
