---
import { Picture } from "@astrojs/image/components";
import placeholder from "../assets/placeholder.png";
import Button from "./Button.astro";
---

<section class="my-12 shadow-xl">
  <div class="relative">
    <Picture
      src={placeholder}
      widths={[400, 800, 1200]}
      aspectRatio="16:9"
      alt="descriptive text"
    />
    <h2 class="absolute top-8 left-8 text-4xl text-white z-[1] font-bold">
      Chi siamo <br />
      <span class="font-light">Who we are</span>
    </h2>
  </div>
  <div class="bg-client-beige p-20">
    <p class="text-2xl">
      Sam Altman is the CEO of OpenAI, the company behind GPT-4, ChatGPT,
      DALL-E, Codex, and many other state-of-the-art AI technologies. Please
      support this podcast by checking out our sponsors
    </p>
    <div class="mt-8">
      <Button text="Conosciamoci meglio" />
    </div>
  </div>
</section>
