---
export interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<li
  class="rounded-xl shadow-md p-8 bg-client-beige flex flex-col justify-between items-start"
>
  <div class="flex flex-col gap-y-2 items-start">
    <h2 class="font-bold text-2xl min-h-[65px]">
      {title}
    </h2>
    <p>
      {body}
    </p>
  </div>
  <button class="mt-4 bg-client-blue text-white px-8 py-2 rounded-xl"
    >Scopri di più</button
  >
</li>
