---
import data from "../data/general.json";
---

<footer
  class="mt-20 px-4 sm:px-12 md:px-20 bg-gray-200 text-client-blue min-h-[40vh] flex flex-col items-center justify-center text-4xl uppercase"
>
  Footer
</footer>
<div
  class="min-h-[40px] bg-client-blue w-full text-white flex flex-row items-center justify-center"
>
  P.IVA: {data.vat} - Sede legale: {data.legalAddress} - Capitale sociale: {
    data.capital
  }
</div>
