---
import OverlayMenu from "./OverlayMenu.svelte";
---

<header
  class="fixed top-0 left-0 w-full px-4 sm:px-12 md:px-20 flex flex-row justify-between items-center py-4 bg-client-blue text-white"
>
  <div class="logo relative z-[1]">Logo</div>
  <nav>
    <OverlayMenu client:load>
      <ul
        class="flex flex-col sm:flex-row w-full gap-y-4 gap-x-4 text-4xl sm:text-xl"
      >
        <li class="border-b border-white sm:border-none pb-4">
          <a href="#">Chi siamo</a>
        </li>
        <li class="border-b border-white sm:border-none pb-4">
          <a href="#">Servizi</a>
        </li>
        <li class="border-b border-white sm:border-none pb-4">
          <a href="#">Eventi</a>
        </li>
      </ul>
    </OverlayMenu>
  </nav>
</header>
