---
import data from "../data/jumbo.json";
---

<section>
  <header>
    <h1>
      {data.quote}
    </h1>
    <caption>{data.author}</caption>
  </header>
  <div>
    <p>
      {data.description}
    </p>
  </div>
</section>
