---
import data from "../data/jumbo.json";
---

<section class="py-12 w-full md:w-3/4">
  <header class="pb-8">
    <h1
      class="text-4xl md:text-5xl text-client-blue font-bold text-gradient pb-4"
    >
      {data.quote}
    </h1>
    <span class="font-light">{data.author}</span>
  </header>
  <div>
    <p>
      {data.description}
    </p>
  </div>
</section>

<style>
  :root {
    --accent-gradient: linear-gradient(25deg, #002ea5, #6994ff, #002ea5);
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
  }
</style>
