---
import data from "../data/services.json";
---

<section>
  <header>
    <h2>
      {data.title}
    </h2>
  </header>
  <div>
    <p>
      {data.description}
    </p>
    <button>
      {data.button}
    </button>
  </div>
</section>
